<header>
  <mat-toolbar>
    <button mat-icon-button class="nav-menu" aria-label="Navigation icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Souptember</span>
    <span class="nav-spacer"></span>
  </mat-toolbar>
  <a href="/about">about</a>
  <nav><a routerLink="" routerLinkActive="activePage" ariaCurrentWhenActive="page">Home</a>
    <a routerLink="/about" routerLinkActive="activePage" ariaCurrentWhenActive="page">About</a>
    <a routerLink="/involvement" routerLinkActive="activePage" ariaCurrentWhenActive="page">Involvement</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
  <p> about</p>
  <p> recipes homepage</p>
  <p> recipe 1</p>
  <p> recipe 1</p>
  <p> recipe 3</p>
</main>

<footer>footer</footer>